@import url("https://fonts.googleapis.com/css2?family=Roboto@display=swap");

/* || RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* || VARIABLES*/
:root {
	/* COLOR */
	--BGCOLOR: aliceblue;
	--RADIAL-COLOR: whitesmoke;
	--LIGHT-COLOR: whitesmoke;
	--LIGHT-BG-COLOR: goldenrod;
	--CONTAINER-BG-COLOR: burlywood;
	--RADIAL-LIGHT-COLOR: papayawhip;
	--SQUARE-BGCOLOR: burlywood;
	--SQUARE-SIZE: max(150px, 20vw);
}

/* || UTILITY CLASSES */

.nowrap {
	white-space: nowrap;
}

/* || GENERAL STYLES */
html {
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--BGCOLOR: #000;
		--LIGHT-COLOR: #333;
		--RADIAL-COLOR: lightgray;
		--SQAURE-BGCOLOR: #ffbcff;
	}
}

body {
	min-height: 100vh;
	font: 1.5rem "Roboto", sans-serif;

	background-color: var(--BGCOlOR);
	background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOlOR));
	display: flex;
	flex-direction: column;
}

header, footer {
	position: sticky;
	background-color: var(--CONTAINER-BG-COLOR);
	color: blanchedalmond;
	text-align: center;
}

header {
	top:0;
}

nav {
	background-color: var(--CONTAINER-BG-COLOR);
	padding: 0.5rem;
	border-bottom: 2px, solid antiquewhite;
	font-weight: bolder;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 0, 6px, 5px, -5px var(--CONTAINER-BG-COLOR);
}

nav a:any-link {
	color: blanchedalmond;
}

nav a:hover, nav a:focus {
	color: hsl(36, 100%, 90%, 0.6);
}

nav a:active {
	color:skyblue;
}

main {
	flex-grow: 1;
	display: flex;
	padding: 10px 0;
	justify-content: space-evenly;
	flex-flow: row wrap;
	align-items: center;
	gap: min(4vw, 15px);
	padding: 1rem;
}

footer {
	bottom: 0;
}

.square--highlight {
	--SQUARE-BGCOLOR: tomato;
}

.square {
	background-color: var(--SQUARE-BGCOLOR);
	width: var(--SQUARE-SIZE);
	height: var(--SQUARE-SIZE);
	border:hsl(36, 100%, 90%, 0.6);
	border-radius: 15px;
	display: grid;
	place-content: center;
	font-size: 3rem;
	box-shadow: 0, 5px, 6px, var(--CONTAINER-BG-COLOR);
}